.list{
  @include m(progress){}
  @include e(row) {
    &:not(:last-child){
      margin-bottom: getSpacing("4x");
      .list{
        @include e(progress-container){
          &::after{
            content:"";
            position: absolute;
            left: 50%;
            top: 100%;
            width: 2px;
            height: 100%;
            background-color: getColor("grey.borderGray");
            transform: translateX(-50%);
          }
        }
      }
    }
    display: flex;
    align-items: center;
  }
  @include e(progress-container){
    position: relative;
    margin-right: getSpacing("4x");
  }
  @include e(label){
    @include getHeaderFontSize("h5");
    color: getColor("text.main");
    text-decoration: none;
    &:hover {
      color: getColor("primary.base");
    }
  }
}