.popup-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.5);
    z-index: 999;
}

.popup {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    @include e(container){
        min-width: 500px;
        min-height: 300px;
        background-color: $white;
        border-radius: 6px 6px 0 0;
        position: relative;
    }
    @include e(button) {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 0px;
        top: 0px;
        transform: translate(100%, -100%);
        cursor: pointer;
    }
    @include e(icon) {
        color: $white;
        width: 48px;
        height: 48px;
        line{
            stroke-width: 1px;
        }
    }
}